body {background-color: white;}

table {
    position: absolute;
    width: 600px;
    height: 600px;
    margin: 20px 100px;
    background: url('src/battleship_board.jpg') no-repeat;
}

TD, TH {
    padding: 3px; 
    border: 1px solid rgb(46, 0, 252); 
    text-align: left;
}

form {
    display: block;
    float: right;
    margin-right: 200px;
    margin-top: 300px;
}

button {
    margin-top: 5px;
}

div#messageArea {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: 70%;
}

.hit {
    background: url(src/shipLogo.png)  no-repeat center center;
}

.miss {
    background: url(src/miss.png) no-repeat center center;
}