body {background-color: white;}
table {
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    background: url('src/battleship_board.jpg') no-repeat;
}
TD, TH {
    padding: 3px; 
    border: 1px solid rgb(46, 0, 252); 
    text-align: left;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px; 
}

form input {
    background-color: rgb(255, 255, 255);
    border-color: rgb(95, 83, 255);
    font-size: 1em;

}

.hit {
    background: url(src/ship_logo.png)  no-repeat center center;
}

.miss {
    background: url(src/miss.png) no-repeat center center;
}